<!DOCTYPE html>
<html>
    <head>
        <!-- bootstrap stuff -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- custom stuff -->
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
            <ul class="nav">
                <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Cribbly</a></li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
        <div class="container body-content">
            <div class="row justify-content-md-center">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; 2020 - Adam and Connor Szczepaniak</p>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>