@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset to the generic passphrase. Please talk to one of the admins to receive it.
</p>

