@model List<Cribbly.Models.Gameplay.BracketTeam>

@{
    ViewData["Title"] = "Index";
}
<h2>Bracket</h2>
@{
    if (Model == null || Model.Count == 0)
    {
        <p>The bracket is not yet seeded.</p>
    }
    else
    {
        // TODO construct the bracket
    }
}