@model Dictionary<int, Cribbly.Models.Gameplay.BracketTeam[]>

@{
    ViewData["Title"] = "Index";
}
<h2>Bracket</h2>
@{
    // TODO construct the bracket
    foreach(var kv in Model) {
        foreach(var t in kv.Value) {
            <p>@{$"Round {kv.Key}, Team {t.TeamName}"}</p>
        }
    }
}