@model Dictionary<int, Cribbly.Models.Gameplay.BracketTeam[]>

@{
    ViewData["Title"] = "Index";
}
<h2>Bracket</h2>
@{
    if (Model != null) 
    {
        foreach(var kv in Model) 
        {
            foreach(var t in kv.Value) 
            {
                var str = $"Round {kv.Key}, Team {t.TeamName}";
                <p>@str</p>
            }
        }
    } else {
        <p>NOT SEEDED YET</p>
    }
}