@model IEnumerable<Cribbly.Models.Standing>
@{
    ViewData["Title"] = "SeedBracket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bracket</h2>
<p>
    The bracket has not been seeded yet.
</p>