
@{
    ViewData["Title"] = "TestBracket";
}
<head>
    <link rel="stylesheet" href="~/css/bracket.css" type="text/css" />
</head>
<body>
    <script>
        function clickHandler(id) {
            console.log(`I've been clicked at id ${id}`);
        }
    </script>
    <h1>Cribbage Tournament Bracket</h1>
    <div class="bracket-container">
        @{
            for (int i = 0; i < 5; i++)
            {
                <div class="round-container">
                    <h4>round @(i + 1)</h4>
                    @{var numGames = (int)Math.Pow(2, 5 - (i + 1));
                        for (int j = 0; j < numGames; j++)
                        {
                            <div class="game-container">
                                <div class="game">
                                    @{
                                        if (i < 1)
                                        {
                                            <div class="team team-admin">szczepaniak / szczepaniak</div>
                                            <div class="team team-admin" onclick="clickHandler(@j)">team 2</div>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</body>