@model CreateStandingView;
@{
    ViewData["Title"] = "ConfirmCreateStandings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmCreateStandings</h2>

<p>The following @Model._newTeams.Count teams will be added to the database:</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Team Name
            </th>
            <th>
                Player One
            </th>
            <th>
                Player Two
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model._newTeams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOne)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwo)
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="CreateStandings" method="POST">
    <button type="submit" class="btn">Create Standings</button>
</form>
<form asp-action="CancelCreateStandings" method="POST">
    <button type="submit" class="btn">Go Back</button>
</form>