@model Cribbly.Models.ViewModels.DivisionView

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Division Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model._divisions)
        {
            <tr>
                <td>
                    <h4>@Html.DisplayFor(modelItem => item.DivName)</h4>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <h4>Members</h4>
                </td>
            </tr>
            @for (int i = 0; i < Model._standings.Where(m => m.Division == item.DivName).ToList().Count; i++)
            {
                <tr>
                    <td></td>
                    <td>@Model._standings.Where(m => m.Division == item.DivName).ToList()[i].TeamName</td>
                </tr>
            }
        }
    </tbody>
</table>
