@model IEnumerable<Cribbly.Models.Standing>;
@{
    ViewData["Title"] = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Setup</h2>

<h3>NOTE: This may not work properly if divisions are created before all teams have had Standings created</h3>

<p>There are @Model.Count() teams. Calculate and create divisions?</p>

<form asp-action="Create">
    <button type="submit" class="form-control">Confirm</button>
</form>