package teams

import (
	"github.com/cszczepaniak/cribbly/internal/persistence/teams"
	"github.com/cszczepaniak/cribbly/internal/ui/pages/admin/admincomponents"
)

templ index(ts []teams.Team) {
	@admincomponents.Shell(admincomponents.Teams) {
		@admincomponents.TeamOrDivisionPage(ts)
	}
}
