package admin

import "github.com/cszczepaniak/cribbly/internal/ui/pages/admin/admincomponents"

templ adminPage() {
	@admincomponents.Shell(admincomponents.Home) {
		<h1 class="text-3xl font-bold tracking-tight text-gray-900">Welcome, Admin!</h1>
	}
}
