h1 {
    text-transform: uppercase;
}

.bracket-container {
}

.round-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.round-container h4 {
    text-transform: uppercase;
}

.game-container {
    padding: 10px 0;
    box-sizing: border-box;
    margin: auto 0;
}

.game {
    border: 1px solid #eeeeee;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #eeeeee;
}

.team {
    text-transform: uppercase;
    margin: 2px auto;
    width: 90%;
}

    .team:nth-child(1):after {
        content: " ";
        display: block;
        height: 0.1em;
        background: #2980b9;
        width: 100%;
    }

.versus-label {
    font-size: 8px;
}

@media screen and (min-width: 900px) {
    .bracket-container {
        display: flex;
    }
}