body {
    text-align: center;
    margin: auto;
}

img {
    transform: scale(.75);
    display: initial !important;
}

li {
    list-style-type: none;
}

.list-group-item {
    padding: 1px;
    background-color: transparent;
    border: none;
}

