.body-content {
    text-align: center;
}

img {
    transform: scale(.75);  
    max-width: 100%; 
}

#navLogo {
    display: inline-block;
    vertical-align: central;
}

p {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 10px !important;
}

ul, li {
    max-width: 100%;
    margin: auto;
    list-style-type: none !important;
    padding: 0;
}

.list-group-item {
    padding: 5px !important;
    background-color: #95777485;
}
