body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
}

a {
    color: maroon;
}

table {
    font-size: 11px;
    background-color: #9a6329;
    border: 1px solid #653520;
    color: white;
}

td {
    border: 1px solid black;
}

i {
    font-size: 10px;
}

body:not(nav) {
    background-image: url("../images/wood_bg.jpg");
}

.navbar, .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-link {
    background-color: rgb(163, 101, 41);
    color: maroon;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn:not(.navbar-btn), .form-control {
    background-color: #9a6329;
    border: 2px solid #653520;
    color: white;
}

.btn:not(.navbar-btn) {
    margin: 2px;
}



