/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
}

a {
    color: maroon;
}

table {
    background-color: rgba(163, 101, 41, 0.5)
}

.form-control {
    background-color: brown;
    color: white;
}

body:not(nav) {
    background-image: url("../images/wood_bg.jpg");
}

.navbar {
    background-color: rgba(163, 101, 41, 0.9);
}

.btn:not(.navbar-btn) {
    background-color: brown;
    color: white;
    border: 2px solid maroon;
}



