.body-content {
    color: black;
    padding: 50px 15px 20px 15px;
    width: 100%;
}

h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: maroon;
}

p {
    font-size: 11px !important;
}

table, dl {
    background-color: #c5b493c4;
}

dl {
    text-align: center;
}

.form-control {
    background-color: #825a20;
    color: white;
}

body:not(nav) {
    background-image: url("../images/wood_bg.jpg");
}

.navbar {
    background-color: rgba(93, 47, 1, 0.99);
}

.navbar-inverse .navbar-nav > li > a {
    color: #f1f1f1;
}

.btn:not(.navbar-btn) {
    background-color: #825a20;
    color: white;
    border: 2px solid #4c290c;
}



