@page
@using Cribbly.Areas.Identity.Pages.Account;
@model LoginModel;

<div class="container">
    <div id="heading" class="text-center">
        <h1 class="cribblyRed">CRIBBLY</h1>
        <p>please log in or register below</p>
    </div>
    <form id="account" method="post" asp-area="Identity" asp-page="/Account/Login">
        <div class="form-group">
            <label name="Email">email</label>
            <input name="Input.Email" class="form-control" />
        </div>
        <div class="form-group">
            <label name="Password">password</label>
            <input type="password" name="Input.Password" class="form-control" />
        </div>
        <div class="form-group">
            <label name="Input.Login"></label>
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
        <div class="form-group">
            <label name="Login"></label>
            <a asp-page="/Account/Register" asp-area="Identity">
                <input type="button" class="btn btn-secondary" value="Sign Up"/>
            </a>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label name="Input.RememberMe">
                    <input type="checkbox" name="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group row">
            <span class="col-sm-6"> 
                <a id="forgot-password" asp-area="Identity" asp-page="/Account/ForgotPassword">Forgot your password?</a>
            </span>
        </div>
    </form>
</div>