@using Cribbly.Models;
@model Team;

<div class="row col-md-12">
    <div id="team" class="col-md-6 text-center">
        @if(Model == null)
        {
            <a href="/">MAKE A TEAM</a>
        }
        else
        {
            <a href="/">MY TEAM</a>
        }
    </div>
    <div id="standings" class="col-md-6 text-center">
        <a href="/">TEAM STANDINGS</a>
    </div>
</div>
<div class="row col-md-12">
    <div id="games" class="col-md-6 text-center">
        <a href="/">GAMES</a>
    </div>
    <div id="settings" class="col-md-6 text-center">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">APP SETTINGS</a>
    </div>
</div>