@using Cribbly.Models;
@model Team;


@if(Model == null)
{
    <form id="notLoggedIn" class="text-center">
        <h2>Looks like you don't have a team yet</h2>
        <br/>
        <button class="btn btn-primary" type="submit">MAKE A TEAM</button>
    </form>
}
else
{

}