package input

templ Input(opts ...Opt) {
	{{
		var p params
		for _, opt := range opts {
			p = opt(p)
		}
	}}
	<input
		class="w-full px-3 py-2 rounded-md outline outline-slate-400 focus:outline-slate-700"
		if p.dataBind != "" {
			data-bind={ p.dataBind }
		}
		if p.placeholder != "" {
			placeholder={ p.placeholder }
		}
		if p.typ != "" {
			type={ p.typ }
		}
	/>
}
