h1 {
    font-size: 100px;
    font-weight: bold;
}
p {
    font-size: 20px;
}
body {
    font-size: 25px;
}
form {
    margin-top: 100px;
}
.form-control {
    font-size: 45px;
    height: 100px;
}
.btn {
    font-size: 45px;
    height: 100px;
    width: 100%;
    border-radius: 50px;
}
#heading {
    margin-top: 100px;
}