h1 {
    font-size: 50px;
}
.form-control {
    font-size: 45px !important;
    height: 100px !important;
}
.btn {
    font-size: 45px !important;
    height: 100px !important;
    width: 100% !important;
}