h1 {
  font-size: 100px;
  font-weight: bold;
}
h2 {
  font-size: 75px;
  font-weight: bold;
}
body {
  font-size: 25px;
}
nav {
  background-color: #9E0101;
}
nav a, button#logout {
  color: white;
}
.btn:not(#logout) {
  font-size: 45px;
  height: 100px;
  width: 100%;
  border-radius: 50px;
}
.btn-secondary {
  background-color: darkgrey;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.cribblyRed {
  color: #9E0101;
  
}
.cribblyBlue {
  color: #0F5A88;
}
.cribblyGreen {
  color: #085D37;
}
.cribblyPurple {
  color: #7316D1;
}
.cribblyYellow {
  color: #CEC86D;
}
#notLoggedIn {
  margin: 100px 0px 100px 0px;
}