body {
  padding-top: 50px;
  padding-bottom: 20px;
}
nav {
  background-color: #9E0101;
}
nav a {
  color: white;
}
.btn-primary {
  background-color: #7316D1;
  border-color: #7316D1;
}
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.cribblyRed {
  color: #9E0101;
  
}
.cribblyBlue {
  color: #0F5A88;
}
.cribblyGreen {
  color: #085D37;
}
.cribblyPurple {
  color: #7316D1;
}
.cribblyYellow {
  color: #CEC86D;
}