
@{
    ViewData["Title"] = "WrongTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wrong Team</h2>

<p>It looks like you are trying to edit a team that is not yours. Please contact a system administrator if you think this message is being shown in error.</p>