<!DOCTYPE html>
<html>
    <head>
        <!-- bootstrap stuff -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- custom stuff -->
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-bav">
                        <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Cribbly</a></li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container body-content">
            <div class="row">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; 2020 - Adam and Connor Szczepaniak</p>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>