@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Cribbly!</h1>


<li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
<li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>