
@{
    ViewData["Title"] = "CreateGamesSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateGamesSetup</h2>

<p>You are about to create the schedule for the tournament. 
    Each team will play every other team in the division once.</p>

<p>Press Ok to continue, or Back to return to the home page</p>

<div class="form-group">
    <a asp-action="Index" asp-controller="Home" class="btn">Back</a>
    <a asp-action="CreateGames" class="btn">Ok</a>
</div>