@model Cribbly.Models.Gameplay.PlayInGame
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Game</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Games" asp-action="Save" method="post">
            @Html.HiddenFor(Model => Model.id)

            Team 1: @Model.Team1Name <br />
            Team 2: @Model.Team2Name <br />
            <div class="form-group">
                <label asp-for="Team1TotalScore" class="control-label"></label>
                <input asp-for="Team1TotalScore" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Team2TotalScore" class="control-label"></label>
                <input asp-for="Team2TotalScore" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
