name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: stable

      - name: Run Tests
        run: go test -v ./...
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: stable

      - run: go build
  verify-generated:
    runs-on: ubuntu-latest
    name: Verify Generated Code
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: stable

      - name: Verify Generated Templates
        uses: ./.github/actions/verify_code_consistency/action.yml
        with:
          cmd: go tool templ generate

      - name: Verify Template Formatting
        uses: ./.github/actions/verify_code_consistency/action.yml
        with:
          cmd: go tool templ fmt .
