name: CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: stable

      - name: Run Tests
        run: go test -v ./...
